# Visual Studio
.vs/
*.user
*.suo

# Build results
bin/
obj/

# Logs
Logs/
*.log
Online Store Application/Logs/

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# OS
Thumbs.db
.DS_Store

# IDEs
.vscode/
.idea/

# Temporary / Environment
*.tmp
*.env
